In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
data=data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [7]:
## One Hot Encoding for 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [8]:
## Split the data into features and target variable
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
## Save the encoders and scalar
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
## Build our ANN Model
model=Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), ## HL! connected with input layer
    Dense(32, activation='relu'), ## HL2
    Dense(1) ## Output layer for regression
])

## Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
import datetime

## Setup the tensorboard
log_dir="regressionlogs/fit/" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [17]:
## Setup early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
## Train the model
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs=100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 100360.3125 - mae: 100360.3125 - val_loss: 98449.9531 - val_mae: 98449.9531
Epoch 2/100
250/250 [==============================] - 0s 667us/step - loss: 99379.6797 - mae: 99379.6797 - val_loss: 96470.1797 - val_mae: 96470.1797
Epoch 3/100
250/250 [==============================] - 0s 658us/step - loss: 95951.7422 - mae: 95951.7422 - val_loss: 91480.9609 - val_mae: 91480.9609
Epoch 4/100
250/250 [==============================] - 0s 656us/step - loss: 89386.9922 - mae: 89386.9922 - val_loss: 83535.6250 - val_mae: 83535.6250
Epoch 5/100
250/250 [==============================] - 0s 660us/step - loss: 80200.2109 - mae: 80200.2109 - val_loss: 73797.6719 - val_mae: 73797.6719
Epoch 6/100
250/250 [==============================] - 0s 661us/step - loss: 70129.5781 - mae: 70129.5781 - val_loss: 64537.4844 - val_mae: 64537.4844
Epoch 7/100
250/250 [==============================] - 0s 665us/step - loss: 61366.6445 - mae: 61366.6445 - val_loss: 57539.6797 - val_mae: 57539.6797
Epoch 8/100
250/250 [==============================] - 0s 652us/step - loss: 55406.9727 - mae: 55406.9727 - val_loss: 53453.8203 - val_mae: 53453.8203
Epoch 9/100
250/250 [==============================] - 0s 719us/step - loss: 52225.4883 - mae: 52225.4883 - val_loss: 51702.0430 - val_mae: 51702.0430
Epoch 10/100
250/250 [==============================] - 0s 666us/step - loss: 50953.4219 - mae: 50953.4219 - val_loss: 51207.7812 - val_mae: 51207.7812
Epoch 11/100
250/250 [==============================] - 0s 673us/step - loss: 50481.6836 - mae: 50481.6836 - val_loss: 51041.5859 - val_mae: 51041.5859
Epoch 12/100
250/250 [==============================] - 0s 653us/step - loss: 50304.0156 - mae: 50304.0156 - val_loss: 50948.7617 - val_mae: 50948.7617
Epoch 13/100
250/250 [==============================] - 0s 667us/step - loss: 50211.9141 - mae: 50211.9141 - val_loss: 50883.6172 - val_mae: 50883.6172
Epoch 14/100
250/250 [==============================] - 0s 649us/step - loss: 50142.0977 - mae: 50142.0977 - val_loss: 50816.5781 - val_mae: 50816.5781
Epoch 15/100
250/250 [==============================] - 0s 654us/step - loss: 50083.4102 - mae: 50083.4102 - val_loss: 50754.4414 - val_mae: 50754.4414
Epoch 16/100
250/250 [==============================] - 0s 660us/step - loss: 50033.4961 - mae: 50033.4961 - val_loss: 50717.1055 - val_mae: 50717.1055
Epoch 17/100
250/250 [==============================] - 0s 694us/step - loss: 49992.3984 - mae: 49992.3984 - val_loss: 50671.1680 - val_mae: 50671.1680
Epoch 18/100
250/250 [==============================] - 0s 706us/step - loss: 49951.7344 - mae: 49951.7344 - val_loss: 50633.4531 - val_mae: 50633.4531
Epoch 19/100
250/250 [==============================] - 0s 653us/step - loss: 49920.3086 - mae: 49920.3086 - val_loss: 50604.9648 - val_mae: 50604.9648
Epoch 20/100
250/250 [==============================] - 0s 651us/step - loss: 49886.9609 - mae: 49886.9609 - val_loss: 50567.0000 - val_mae: 50567.0000
Epoch 21/100
250/250 [==============================] - 0s 652us/step - loss: 49859.7148 - mae: 49859.7148 - val_loss: 50540.6836 - val_mae: 50540.6836
Epoch 22/100
250/250 [==============================] - 0s 652us/step - loss: 49827.0508 - mae: 49827.0508 - val_loss: 50519.8633 - val_mae: 50519.8633
Epoch 23/100
250/250 [==============================] - 0s 648us/step - loss: 49801.3164 - mae: 49801.3164 - val_loss: 50498.2188 - val_mae: 50498.2188
Epoch 24/100
250/250 [==============================] - 0s 651us/step - loss: 49777.8633 - mae: 49777.8633 - val_loss: 50474.4219 - val_mae: 50474.4219
Epoch 25/100
250/250 [==============================] - 0s 647us/step - loss: 49758.2969 - mae: 49758.2969 - val_loss: 50468.6133 - val_mae: 50468.6133
Epoch 26/100
250/250 [==============================] - 0s 654us/step - loss: 49732.1680 - mae: 49732.1680 - val_loss: 50460.9531 - val_mae: 50460.9531
Epoch 27/100
250/250 [==============================] - 0s 637us/step - loss: 49715.3086 - mae: 49715.3086 - val_loss: 50442.0703 - val_mae: 50442.0703
Epoch 28/100
250/250 [==============================] - 0s 721us/step - loss: 49696.5234 - mae: 49696.5234 - val_loss: 50439.6680 - val_mae: 50439.6680
Epoch 29/100
250/250 [==============================] - 0s 658us/step - loss: 49679.7695 - mae: 49679.7695 - val_loss: 50418.4570 - val_mae: 50418.4570
Epoch 30/100
250/250 [==============================] - 0s 653us/step - loss: 49664.2188 - mae: 49664.2188 - val_loss: 50415.6484 - val_mae: 50415.6484
Epoch 31/100
250/250 [==============================] - 0s 647us/step - loss: 49649.7422 - mae: 49649.7422 - val_loss: 50410.6094 - val_mae: 50410.6094
Epoch 32/100
250/250 [==============================] - 0s 643us/step - loss: 49634.5625 - mae: 49634.5625 - val_loss: 50398.2344 - val_mae: 50398.2344
Epoch 33/100
250/250 [==============================] - 0s 646us/step - loss: 49619.5352 - mae: 49619.5352 - val_loss: 50390.3633 - val_mae: 50390.3633
Epoch 34/100
250/250 [==============================] - 0s 646us/step - loss: 49607.9883 - mae: 49607.9883 - val_loss: 50391.3984 - val_mae: 50391.3984
Epoch 35/100
250/250 [==============================] - 0s 674us/step - loss: 49599.9844 - mae: 49599.9844 - val_loss: 50390.3750 - val_mae: 50390.3750
Epoch 36/100
250/250 [==============================] - 0s 655us/step - loss: 49585.0469 - mae: 49585.0469 - val_loss: 50384.6680 - val_mae: 50384.6680
Epoch 37/100
250/250 [==============================] - 0s 707us/step - loss: 49570.5703 - mae: 49570.5703 - val_loss: 50372.8789 - val_mae: 50372.8789
Epoch 38/100
250/250 [==============================] - 0s 683us/step - loss: 49560.0391 - mae: 49560.0391 - val_loss: 50358.0312 - val_mae: 50358.0312
Epoch 39/100
250/250 [==============================] - 0s 822us/step - loss: 49551.0117 - mae: 49551.0117 - val_loss: 50341.6250 - val_mae: 50341.6250
Epoch 40/100
250/250 [==============================] - 0s 650us/step - loss: 49541.5547 - mae: 49541.5547 - val_loss: 50352.6172 - val_mae: 50352.6172
Epoch 41/100
250/250 [==============================] - 0s 645us/step - loss: 49530.8789 - mae: 49530.8789 - val_loss: 50342.8672 - val_mae: 50342.8672
Epoch 42/100
250/250 [==============================] - 0s 658us/step - loss: 49523.6016 - mae: 49523.6016 - val_loss: 50339.0742 - val_mae: 50339.0742
Epoch 43/100
250/250 [==============================] - 0s 647us/step - loss: 49511.4688 - mae: 49511.4688 - val_loss: 50326.3203 - val_mae: 50326.3203
Epoch 44/100
250/250 [==============================] - 0s 644us/step - loss: 49502.2227 - mae: 49502.2227 - val_loss: 50327.0859 - val_mae: 50327.0859
Epoch 45/100
250/250 [==============================] - 0s 645us/step - loss: 49494.7148 - mae: 49494.7148 - val_loss: 50335.0039 - val_mae: 50335.0039
Epoch 46/100
250/250 [==============================] - 0s 653us/step - loss: 49485.0195 - mae: 49485.0195 - val_loss: 50322.1836 - val_mae: 50322.1836
Epoch 47/100
250/250 [==============================] - 0s 715us/step - loss: 49481.3633 - mae: 49481.3633 - val_loss: 50324.4570 - val_mae: 50324.4570
Epoch 48/100
250/250 [==============================] - 0s 649us/step - loss: 49472.0664 - mae: 49472.0664 - val_loss: 50312.8359 - val_mae: 50312.8359
Epoch 49/100
250/250 [==============================] - 0s 644us/step - loss: 49465.9727 - mae: 49465.9727 - val_loss: 50319.3008 - val_mae: 50319.3008
Epoch 50/100
250/250 [==============================] - 0s 648us/step - loss: 49459.2266 - mae: 49459.2266 - val_loss: 50309.7695 - val_mae: 50309.7695
Epoch 51/100
250/250 [==============================] - 0s 648us/step - loss: 49451.0000 - mae: 49451.0000 - val_loss: 50308.5273 - val_mae: 50308.5273
Epoch 52/100
250/250 [==============================] - 0s 654us/step - loss: 49444.1797 - mae: 49444.1797 - val_loss: 50311.7188 - val_mae: 50311.7188
Epoch 53/100
250/250 [==============================] - 0s 650us/step - loss: 49439.4727 - mae: 49439.4727 - val_loss: 50316.7266 - val_mae: 50316.7266
Epoch 54/100
250/250 [==============================] - 0s 648us/step - loss: 49430.3359 - mae: 49430.3359 - val_loss: 50304.6094 - val_mae: 50304.6094
Epoch 55/100
250/250 [==============================] - 0s 688us/step - loss: 49427.1836 - mae: 49427.1836 - val_loss: 50312.0469 - val_mae: 50312.0469
Epoch 56/100
250/250 [==============================] - 0s 713us/step - loss: 49418.9492 - mae: 49418.9492 - val_loss: 50322.4883 - val_mae: 50322.4883
Epoch 57/100
250/250 [==============================] - 0s 653us/step - loss: 49412.6836 - mae: 49412.6836 - val_loss: 50309.6953 - val_mae: 50309.6953
Epoch 58/100
250/250 [==============================] - 0s 643us/step - loss: 49408.8086 - mae: 49408.8086 - val_loss: 50326.1680 - val_mae: 50326.1680
Epoch 59/100
250/250 [==============================] - 0s 649us/step - loss: 49406.8672 - mae: 49406.8672 - val_loss: 50313.8086 - val_mae: 50313.8086
Epoch 60/100
250/250 [==============================] - 0s 649us/step - loss: 49400.8281 - mae: 49400.8281 - val_loss: 50324.1367 - val_mae: 50324.1367
Epoch 61/100
250/250 [==============================] - 0s 642us/step - loss: 49391.2148 - mae: 49391.2148 - val_loss: 50329.0039 - val_mae: 50329.0039
Epoch 62/100
250/250 [==============================] - 0s 639us/step - loss: 49385.0859 - mae: 49385.0859 - val_loss: 50324.2305 - val_mae: 50324.2305
Epoch 63/100
250/250 [==============================] - 0s 633us/step - loss: 49382.6992 - mae: 49382.6992 - val_loss: 50332.1055 - val_mae: 50332.1055
Epoch 64/100
250/250 [==============================] - 0s 653us/step - loss: 49378.3008 - mae: 49378.3008 - val_loss: 50329.3203 - val_mae: 50329.3203

In [19]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6009 (pid 99772), started 0:00:31 ago. (Use '!kill 99772' to kill it.)

In [22]:
## Evaluatae the model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

63/63 [==============================] - 0s 371us/step - loss: 50304.6094 - mae: 50304.6094
Test Loss: 50304.609375, Test MAE: 50304.609375

In [23]:
model.save('regression_model.h5')

/Users/bhaveshduttmyla/iCloud Drive (Archive)/Documents/Python/ANN Classification/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(